:root {
  /* colors  */
  --light-yellow: #f2d96cff;
  --gold: #ecc263ff;

  --pink: rgb(238, 141, 157);
  --salmon: #cd6463ff;
  --red: rgb(185, 49, 49);
  --dark-red: #7d2c31ff;

  --light-green: #c8e3afff;
  --green: #658e43ff;

  --bright-blue: #80cdc7ff;
  --medium-blue: #4ca7b3;
}

* {
  box-sizing: border-box;
  text-align: center;
  font-family: monospace;
  font-size: larger;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

body {
  background-color: pink;
}

pre {
  font-size: large;
}

h1 {
  color: var(--dark-red);
}

table {
  font-size: medium;
  width: 50%;
  margin: auto;
  background-color: var(--light-yellow);
  border: solid 1px #ddeeee;
  border-collapse: collapse;
  border-spacing: 0;
}
table thead {
  height: 10vh;
  border: solid 1px #ddeeee;
  background-color: var(--gold);
  color: #336b6b;
  text-align: center;
}
table tbody {
  height: 50vh;
  border: solid 1px #ddeeee;
  color: #333;
}
table, th, td {
  border: 1px solid var(--dark-red);
  border-collapse: collapse;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: var(--pink);
  overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 25%;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--red);
  color: white;
}
/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--dark-red);
  color: white;
}

button {
  border-radius: 20px;
}

button[class="submit button"] {
  background-color: var(--medium-blue);
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input {
  font-size: medium;
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type="text"] {
  width: 600px;
  background-color: #f1f1f1;
  color: black;
}

input[type="email"] {
  width: 600px;
  background-color: #f1f1f1;
  color: black;
}

input[type="submit"] {
  width: 150px;
  background-color: var(--bright-blue);
  color: #fff;
  cursor: pointer;
}

/*the container must be positioned relative:*/
.autocomplete {
  font-size: small;
  text-align: left;
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  text-align: left;
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  text-align: left;
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
