{% extends "base.html" %} {% block title %}Crushes!{% endblock %} {% block head
%} {{ super() }}
<style type="text/css">
    button {
        height: 7vh;
        width: 15vh;
        background-color: var(--light-green);
    }
</style>
<iframe hidden src="{{music_url}}"> </iframe>
{% endblock %} {% block content %}
<h1>Status on your crushes</h1>
<table>
  <thead>
    <tr>
      <th>Crush</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>{{crush}}</td>
      <td><button>REVEAL</button></td>
    </tr>
    <tr>
      <td>{{crush}}</td>
      <td><button>REVEAL</button></td>
    </tr>
    <tr>
      <td>{{crush}}</td>
      <td><button>REVEAL</button></td>
    </tr>
    <tr>
      <td>{{crush}}</td>
      <td><button>REVEAL</button></td>
    </tr>
    <tr>
      <td>{{crush}}</td>
      <td><button>REVEAL</button></td>
    </tr>
  </tbody>
</table>
{% endblock %}
