{% extends "base.html" %} {% block title %}Welcome!{% endblock %} {% block
head%} {{ super() }}
<style type="text/css"></style>
{% endblock %} {% block content %}
<h1 style="color: var(--medium-blue)">{{error}}</h1>
<h1>Good luck, {{email}}!</h1>
<h1>Status on your crushes</h1>
<table>
  <thead>
    <tr>
      <th>Crush</th>
      <th>Status</th>
      <th>Delete Crush</th>
    </tr>
  </thead>

  <tbody style="font-size: medium">
    {% for crush in crush_list %}
    <tr>
      <td>
        <label>{{crush}}</label>
      </td>
      <td>
        <form action="/reveal_crush" method="post">
          <input type="hidden" name="crush_reveal" value="{{ crush }}" />
          <button>REVEAL</button>
          <button formaction="/reveal_crush">REVEAL</button>
        </form>
      </td>
      <td>
        <form action="/delete_crush" method="post">
          <input type="hidden" name="crush_delete" value="{{ crush }}" />
          <button>Out of Order</button>
          <button formaction="/delete_crush">DELETE</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
