{% extends "base.html" %} {% block title %}Welcome!{% endblock %} {% block
head%} {{ super() }}
<style type="text/css"></style>
{% endblock %} {% block content %}
<h1>Good luck, {{email}}!</h1>
<h1>Status on your crushes</h1>
<table>
  <thead>
    <tr>
      <th>Crush</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody style="font-size: medium">
    {% for crush in crush_list %}
    <tr>
      <td>{{crush}}</td>
      <td>
        <form action="/reveal_crush" method="post">
          <button formaction="/reveal_crush">REVEAL</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
