{% extends "base.html" %} {% block title %}Welcome!{% endblock %} {% block head
%} {{ super() }}
<style type="text/css"></style>
{% endblock %} {% block content %}
<h1>Good luck, {{email}}!</h1>

<h1>Status on your crushes</h1>
<table>
  <thead>
    <tr>
      <th>Crush</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody style="font-size: medium">
    <tr>
      <td>{{crush}}</td>
      <td><button>REVEAL</button></td>
    </tr>
    <tr>
      <td>{{crush}}</td>
      <td><button>REVEAL</button></td>
    </tr>
    <tr>
      <td>{{crush}}</td>
      <td><button>REVEAL</button></td>
    </tr>
    <tr>
      <td>{{crush}}</td>
      <td><button>REVEAL</button></td>
    </tr>
    <tr>
      <td>{{crush}}</td>
      <td><button>REVEAL</button></td>
    </tr>
  </tbody>
</table>
{% endblock %}
