{% extends "base.html" %}
{% block title %}Welcome!{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
    </style>
{% endblock %}
{% block content %}
    <h1>Index</h1>
    <form action="/sending_code" method="POST">
      <label for="text">Email:</label>
      <input type="text" name="email" id="email" required autocomplete="off" style="width: auto;"/>
      <label>@binghamton.edu</label>
      <button class="submit button" name="register" id="register">Submit</button>
    </form>
{% endblock %}

