<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BU Match</title>
  </head>

  <body>
    <h1>BU Match</h1>
    <form action="/give_email" method="POST">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required />
      <button class="submit button" name="register" id="register">
        Submit
      </button>
    </form>
  </body>
</html>
