{% extends "base.html" %}
{% block title %}Email!{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
  </style>
{% endblock %}
{% block content %}
  <h2>{{email}}</h2>
  <h2>You should be receiving a code soon.</h2>

  <form action="/login" method="POST">
    <div class="form-group">
      <!-- <label for="code">Code: </label> -->
      <input type="text" name="code" id="code" autocomplete="off" placeholder="1234567" style="width: auto" required/>
      <button class="submit button" name="register" id="register">
        Submit
      </button>
    </div>
  </form>
{% endblock %}
