{% extends "base.html" %}
{% block title %}Email!{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
  </style>
{% endblock %}
{% block content %}
  <h2>{{email}}</h2>
  <h2>You should be receiving a code soon.</h2>

  <form action="/login" method="POST">
    <label for="code">Code: </label>
    <input type="text" name="code" id="code" required autocomplete="off" style="width: auto"/>
    <button class="submit button" name="register" id="register">
      Submit
    </button>
  </form>
{% endblock %}
