{% extends "base.html" %} {% block title %}Welcome!{% endblock %} {% block head
%} {{ super() }}
<style type="text/css"></style>
{% endblock %} {% block content %}
<h1>Welcome, user!</h1>

<h4>READ CAREFULLY</h4>
<pre>Due to a skill issue on the developer's part, there will be a "DELETE" button for crushes in your table.</pre>
<pre>It does not work. Choose your crushes carefully, because you cannot delete it.</pre>
<pre>You are only allowed to have 5 crushes.</pre>

<h2>Your B-Mail</h2>
<form action="/dev/sending_code" method="POST">
  <label for="email">Email:</label>
  <input
    type="text"
    name="email"
    id="email"
    placeholder="jsmith123"
    autocomplete="off"
    style="width: auto"
    required
  />
  <label>@binghamton.edu</label>
  <button class="submit button" name="register" id="register">Submit</button>
</form>
{% endblock %}